body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #4c525c;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: clamp(24px, 5vw, 50px);
}

h2 {
  font-size: clamp(18px, 4vw, 28px);
}

h3 {
  font-size: clamp(16px, 3.5vw, 24px);
}

h4 {
  font-size: clamp(14px, 3vw, 20px);
}

h5 {
  font-size: clamp(11px, 2.5vw, 16px);
}

h6 {
  font-size: 11px;
}

p {
  font-size: 12px;
}

label {
  font-size: 11px;
  font-weight: 600;
}

button {
  cursor: pointer;
  text-wrap: nowrap;
  outline: none;
}

input {
  color: #4c525c;
}

@keyframes header-drop-top {
  0% {
    transform: translateY(-34px);
  }
}
@keyframes header-drop-mid {
  0%, 40% {
    transform: translateY(-104px);
  }
}
@keyframes header-drop-bot {
  0%, 20% {
    transform: translateY(-138px);
  }
}
@keyframes error-shake {
  3%, 21%, 39%, 57%, 74%, 92% {
    transform: translateX(5px);
  }
  6%, 24%, 42%, 60%, 77%, 95% {
    transform: translateX(3px);
  }
  9%, 27%, 45%, 63%, 80%, 98% {
    transform: translateX(-5px);
  }
}
.top-menu-button {
  height: 22px;
  border: 0px;
  color: #575757;
  font-size: 12px;
  border-radius: 8px;
  padding: 2px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: 0.2s ease-in-out;
  background-color: #f1f2f6;
}
.top-menu-button:hover {
  color: #1e22aa;
  transform: translateY(-1px) scale(1.2);
}
.top-menu-button:active {
  transform: translateY(1px);
}

.middle-menu-button {
  height: 54px;
  padding: 12px 10px;
  box-sizing: border-box;
  background-color: #1e22aa;
  border: 0px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.2s ease-out;
}
.middle-menu-button:hover {
  background-color: #151877;
}
.middle-menu-button:active {
  transform: translateY(2px);
}

#search-button {
  background-color: transparent;
  position: absolute;
  margin-right: 10px;
  transition: 0.1s ease-out;
  border: 0px;
}
#search-button:hover {
  transform: scale(1.1);
}
#search-button:active {
  transform: scale(1);
}

@media (max-width: 768px) {
  #login-button {
    display: none;
  }
}

@media (max-width: 768px) {
  #cart-button div {
    display: none;
  }
}
#cart-button div #cart-price {
  font-weight: 400;
  font-size: 10px;
}

.bottom-menu-button {
  padding: 4px 12px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 0px;
  border-radius: 8px;
  color: #4c525c;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
}
.bottom-menu-button:hover {
  color: #1e22aa;
  transform: translateY(-2px) scale(1.2);
}
.bottom-menu-button:active {
  transform: translateY(2px);
}

.banner-button {
  box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.3);
}
.banner-button .desktop {
  display: block;
}
.banner-button .mobile {
  display: none;
}
.banner-button .button-text {
  font-size: 15px;
}
@media (max-width: 768px) {
  .banner-button .desktop {
    display: none;
  }
  .banner-button .mobile {
    display: block;
  }
}
@media (max-width: 425px) {
  .banner-button {
    height: 32px;
    width: 85px;
    font-size: 13px;
    font-weight: 600;
  }
}

#check-openings-button {
  height: 44px;
  width: 330px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 28px;
  transition: 0.2s ease-in-out;
  border: 1px solid #185baa;
  color: #185baa;
  background-color: #ffffff;
  height: 44px;
  width: 100%;
  max-width: 230px;
}
#check-openings-button:hover {
  transform: translateY(-4px);
}
#check-openings-button:active {
  transform: translateY(0px);
}
#check-openings-button:hover {
  color: #ffffff;
  background-color: #185baa;
}
#check-openings-button:hover {
  box-shadow: 0px 5px 20px 1px rgba(255, 255, 255, 0.1);
}

#submit-resume-button {
  height: 44px;
  width: 330px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 28px;
  transition: 0.2s ease-in-out;
  border: 1px solid #185baa;
  color: #ffffff;
  background-color: #185baa;
  height: 44px;
  width: 100%;
  max-width: 230px;
}
#submit-resume-button:hover {
  transform: translateY(-4px);
}
#submit-resume-button:active {
  transform: translateY(0px);
}
#submit-resume-button:hover {
  background-color: #1e22aa;
}
#submit-resume-button:hover {
  box-shadow: 0px 5px 20px 1px rgba(255, 255, 255, 0.1);
}

.team-card-button {
  height: 44px;
  width: 330px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 28px;
  transition: 0.2s ease-in-out;
  border: 1px solid #185baa;
  color: #185baa;
  background-color: #ffffff;
  height: 44px;
  width: 80%;
  border: 0px;
}
.team-card-button:hover {
  transform: translateY(-4px);
}
.team-card-button:active {
  transform: translateY(0px);
}
.team-card-button .mobile {
  display: none;
}
.team-card-button .desktop {
  display: block;
}
@media (max-width: 425px) {
  .team-card-button {
    height: 32px;
  }
  .team-card-button .mobile {
    display: block;
  }
  .team-card-button .desktop {
    display: none;
  }
}
.team-card-button p {
  font-size: 15px;
}

#scroll-left,
#scroll-right {
  height: 38px;
  width: 38px;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  border: 0px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}
#scroll-left img,
#scroll-right img {
  height: 25px;
}
#scroll-left:hover,
#scroll-right:hover {
  transform: scale(1.3);
}
#scroll-left:active,
#scroll-right:active {
  transform: scale(1.1);
}

#scroll-left {
  left: 0px;
}

#scroll-right {
  right: 0px;
}

#see-all-jobs {
  height: 44px;
  width: 330px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 28px;
  transition: 0.2s ease-in-out;
  border: 1px solid #185baa;
  color: #185baa;
  background-color: #ffffff;
  height: 44px;
  width: 50%;
  max-width: 275px;
  border-radius: 22px;
}
#see-all-jobs:hover {
  color: #ffffff;
  background-color: #185baa;
}

#browse-file {
  height: 44px;
  width: 330px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 28px;
  transition: 0.2s ease-in-out;
  border: 1px solid #185baa;
  color: #185baa;
  background-color: #ffffff;
  height: 100%;
  width: 131px;
  position: absolute;
  right: 0px;
}
#browse-file:hover {
  color: #ffffff;
  background-color: #185baa;
}

#submit-resume {
  height: 44px;
  width: 330px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 28px;
  transition: 0.2s ease-in-out;
  border: 1px solid #185baa;
  color: #ffffff;
  background-color: #185baa;
}
#submit-resume:hover {
  transform: translateY(-4px);
}
#submit-resume:active {
  transform: translateY(0px);
}
#submit-resume:hover {
  background-color: #1e22aa;
}

#subscribe-button {
  height: 44px;
  width: 330px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 28px;
  transition: 0.2s ease-in-out;
  border: 1px solid #185baa;
  color: #185baa;
  background-color: #ffffff;
  width: auto;
  position: absolute;
  padding: 8px 16px;
  box-sizing: border-box;
  background-color: #fae100;
  border: 0px;
}

.header {
  width: 100%;
  height: 138px;
  max-width: 1280px;
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  border-radius: 0px 0px 20px 20px;
  z-index: 100;
}
@media (max-width: 768px) {
  .header {
    border-radius: 0px;
    height: 70px;
  }
}

.top-menu {
  width: 100%;
  height: 34px;
  padding: 6px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f2f6;
  z-index: 3;
  animation: 0.5s header-drop-top ease-out;
  position: absolute;
}
@media (max-width: 768px) {
  .top-menu {
    display: none;
  }
}
.top-menu div {
  display: flex;
  gap: 20px;
}

.middle-menu {
  width: 100%;
  height: 70px;
  padding: 8px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  background-color: #1e22aa;
  border-radius: 0px 0px 20px 20px;
  z-index: 2;
  animation: 1s header-drop-mid ease-out;
  position: absolute;
  top: 34px;
}
@media (max-width: 768px) {
  .middle-menu {
    padding: 8px 12px 10px 12px;
    gap: 12px;
    top: 0px;
  }
}
.middle-menu .abenson-logo {
  width: clamp(106px, 20vw, 160px);
}
.middle-menu .input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.middle-menu .input-container #search-bar {
  width: 100%;
  height: 40px;
  padding: 5px 8px 5px 12px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 14px;
  outline: none;
  position: relative;
}
.middle-menu .input-container #search-bar::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.middle-menu .buttons-container {
  display: flex;
  gap: 15px;
}

.bottom-menu {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  padding: 0px 30px;
  box-sizing: border-box;
  margin: 5px 0px 5px 0px;
  border: 0px;
  background-color: #ffffff;
  overflow-x: auto;
  z-index: 1;
  animation: 1.5s header-drop-bot ease-out;
  position: relative;
  top: 104px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.bottom-menu::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .bottom-menu {
    display: none;
  }
}

.section-title {
  font-weight: 600;
  text-align: center;
}

.section-description {
  max-width: 800px;
  font-weight: 400;
}

.banner-title {
  font-weight: 600;
}

.banner-description {
  max-width: 600px;
  margin-bottom: 20px;
  font-weight: 400;
}

.mvc-title {
  font-size: 28px;
  font-weight: 600;
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  z-index: 1;
}
@media (max-width: 768px) {
  .mvc-title {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .mvc-title {
    font-size: 14px;
  }
}

.mvc-description {
  font-size: 24px;
  font-weight: 600;
  color: #f1f2f6;
  color: #fff;
}
@media (max-width: 768px) {
  .mvc-description {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .mvc-description {
    font-size: 12px;
  }
}

.team-card-title {
  font-size: 24px;
}
@media (max-width: 768px) {
  .team-card-title {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .team-card-title {
    font-size: 13px;
  }
}

.team-card-description {
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .team-card-description {
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  .team-card-description {
    font-size: 10px;
  }
}

.job-title {
  font-size: clamp(12px, 4vw, 17px);
  color: #1e22aa;
  text-align: left;
}

.job-description {
  font-size: clamp(10px, 4vw, 16px);
  font-weight: 400;
}

#file-name {
  font-size: 13px;
  font-weight: 400;
}

.error-text {
  color: #ff4f44;
  position: absolute;
  z-index: 2;
  bottom: -16px;
  left: 15px;
  font-weight: 400;
}

.follow-text {
  text-align: left;
  font-weight: 400;
}

.sub-title {
  color: #ffffff;
}

.sub-description {
  color: #ffffff;
}

.group-title {
  color: #fae100;
  margin-bottom: 15px;
}

.group-text, .group-link {
  color: #ffffff;
  line-height: 22px;
}

.group-link {
  text-wrap: nowrap;
}
.group-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#uxui .team-card-front {
  background-color: #735ff2;
}
#uxui .team-card-back {
  background-color: #5c4dbd;
}

#mobile-app .team-card-front {
  background-color: #19b6eb;
}
#mobile-app .team-card-back {
  background-color: #1798c4;
}

#digital-marketing .team-card-front {
  background-color: #ff177a;
}
#digital-marketing .team-card-back {
  background-color: #d01665;
}

#digital-development .team-card-front {
  background-color: #006de2;
}
#digital-development .team-card-back {
  background-color: #0457b1;
}

#smile-serve .team-card-front {
  background-color: #ffb400;
}
#smile-serve .team-card-back {
  background-color: #d29605;
}

#systems-development .team-card-front {
  background-color: #5dca3d;
}
#systems-development .team-card-back {
  background-color: #5aae41;
}

#shop-online .team-card-front {
  background-color: #fae100;
}
#shop-online .team-card-back {
  background-color: #d4c008;
}

#digital-products .team-card-front {
  background-color: #5dca3d;
}
#digital-products .team-card-back {
  background-color: #46992e;
}

#data .team-card-front {
  background-color: #735ff2;
}
#data .team-card-back {
  background-color: #6452d2;
}

.main {
  width: 95%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 10px 0px 80px 0px;
}
@media (max-width: 768px) {
  .main {
    width: 100%;
    margin-top: -20px;
  }
}
@media (max-width: 425px) {
  .main {
    width: 100%;
  }
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}
.banner .image-container {
  position: relative;
  width: auto;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.banner .image-container .banner-img {
  width: auto;
  height: auto;
  display: block;
  border-radius: 20px;
}
.banner .image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%), linear-gradient(to top, rgba(30, 34, 170, 0.5) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%), linear-gradient(to top, rgba(30, 34, 170, 0.2), rgba(30, 34, 170, 0) 60%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}
.banner .banner-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  color: #ffffff;
  gap: 16px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  padding-bottom: 30px;
}
@media (max-width: 425px) {
  .banner .banner-content {
    gap: 8px;
  }
}
@media (max-width: 412px) {
  .banner .banner-content {
    gap: 4px;
  }
}
.banner .banner-content .buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.about-us {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  gap: 20px;
}
@media (max-width: 768px) {
  .about-us {
    padding: 10px 0px;
  }
}
.about-us .section-description {
  width: 90%;
}
.about-us .mvc {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-top: 20px;
  text-align: start;
  padding: 0px 20px;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 1240px;
}
.about-us .mvc::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .about-us .mvc {
    gap: 10px;
  }
}
.about-us .mvc .mvc-card {
  height: 425px;
  width: auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
}
@media (max-width: 768px) {
  .about-us .mvc .mvc-card {
    height: 300px;
  }
}
@media (max-width: 425px) {
  .about-us .mvc .mvc-card {
    height: 188px;
  }
}
.about-us .mvc .mvc-card img {
  border-radius: 20px;
}
.about-us .mvc .mvc-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 20px;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgba(255, 255, 255, 0) 25%);
}
.about-us .mvc .mvc-card .mvc-content {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .about-us .mvc .mvc-card .mvc-content {
    padding: 16px;
  }
}
@media (max-width: 425px) {
  .about-us .mvc .mvc-card .mvc-content {
    padding: 12px;
  }
}

.join {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  gap: 20px;
}
@media (max-width: 768px) {
  .join {
    padding: 10px 0px;
  }
}
.join .join-container {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-top: 20px;
  text-align: start;
  padding: 0px 20px;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.join .join-container::-webkit-scrollbar {
  display: none;
}
.join .join-container .join-card {
  height: 100%;
  width: 20vw;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
@media (max-width: 768px) {
  .join .join-container .join-card {
    align-items: center;
    text-align: center;
    min-width: 125px;
  }
}
.join .join-container .join-card img {
  height: 95px;
  width: 140px;
}

.teams {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  gap: 20px;
  padding: 20px 0px 0px 0px;
}
@media (max-width: 768px) {
  .teams {
    padding: 10px 0px;
  }
}
.teams .scroll-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.teams .teams-scroll {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-top: 20px;
  text-align: start;
  padding: 0px 20px;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 30px 20px;
  box-sizing: border-box;
  position: relative;
  margin-top: -20px;
}
.teams .teams-scroll::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .teams .teams-scroll {
    gap: 15px;
  }
}
@media (max-width: 425px) {
  .teams .teams-scroll {
    gap: 10px;
  }
}
.teams .teams-scroll .team-card {
  background-color: transparent;
  width: 300px;
  height: 425px;
  perspective: 1500px;
}
.teams .teams-scroll .team-card:hover .team-card-inner {
  transform: rotateY(180deg);
}
@media (max-width: 768px) {
  .teams .teams-scroll .team-card {
    width: 250px;
    height: 340px;
  }
}
@media (max-width: 425px) {
  .teams .teams-scroll .team-card {
    width: 180px;
    height: 240px;
  }
}
.teams .teams-scroll .team-card .team-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.teams .teams-scroll .team-card .team-card-inner .team-card-front,
.teams .teams-scroll .team-card .team-card-inner .team-card-back {
  position: absolute;
  width: 300px;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 30px;
  box-sizing: border-box;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: white;
  gap: 25px;
}
@media (max-width: 768px) {
  .teams .teams-scroll .team-card .team-card-inner .team-card-front,
  .teams .teams-scroll .team-card .team-card-inner .team-card-back {
    width: 250px;
    height: 340px;
    gap: 20px;
    padding: 20px;
  }
}
@media (max-width: 425px) {
  .teams .teams-scroll .team-card .team-card-inner .team-card-front,
  .teams .teams-scroll .team-card .team-card-inner .team-card-back {
    width: 180px;
    height: 240px;
    gap: 16px;
    padding: 14px 12px;
  }
}
.teams .teams-scroll .team-card .team-card-inner .team-card-front img,
.teams .teams-scroll .team-card .team-card-inner .team-card-back img {
  width: 100%;
}
.teams .teams-scroll .team-card .team-card-inner .team-card-front {
  background-color: #868686;
  justify-content: space-around;
}
.teams .teams-scroll .team-card .team-card-inner .team-card-back {
  background-color: #656565;
  transform: rotateY(180deg);
}

.jobs {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  gap: 20px;
  padding: 50px;
  box-sizing: border-box;
  background: #e5f6ff url("../assets/bg/jobsBg.svg") no-repeat top center;
  background-size: auto;
  background-position: top center;
  border-radius: 22px;
}
@media (max-width: 768px) {
  .jobs {
    padding: 10px 0px;
  }
}
@media (max-width: 768px) {
  .jobs {
    padding: 40px 0px;
  }
}
.jobs .job-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 28px;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 435px;
  transition: 0.8s ease-out;
}
@media (max-width: 768px) {
  .jobs .job-grid {
    grid-template-columns: 1fr;
    padding: 20px 30px;
  }
}
.jobs .job-grid .job-card {
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 10px 25px 1px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .jobs .job-grid .job-card {
    padding: 16px;
  }
}

.send {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  gap: 20px;
}
@media (max-width: 768px) {
  .send {
    padding: 10px 0px;
  }
}
.send .send-form {
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 16px;
}
.send .send-form .shake {
  animation: 1s error-shake infinite;
}
.send .send-form .input-field.invalid .input-label {
  color: #ff4f44;
}
.send .send-form .input-field.invalid #name-input,
.send .send-form .input-field.invalid #email-input,
.send .send-form .input-field.invalid #resume-input {
  border-color: #ff4f44;
}
.send .send-form .input-field {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.send .send-form .input-field #name-input,
.send .send-form .input-field #email-input,
.send .send-form .input-field #resume-input {
  height: 44px;
  width: 330px;
  max-width: 330px;
  border: 1px solid #185baa;
  border-radius: 28px;
  position: relative;
  padding: 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.send .send-form .input-field #name-input:focus,
.send .send-form .input-field #email-input:focus,
.send .send-form .input-field #resume-input:focus {
  outline: 1px solid #185baa;
}
.send .send-form .input-field .input-label {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: -8px;
  padding: 0px 4px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #185baa;
}
.send .send-form .input-field #resume-label {
  color: #575757;
}
.send .send-form .input-field #resume-input {
  border: 1px solid #bbbcbd;
  padding: 0px 0px 0px 14px;
}
.send .send-form .input-field #file-name {
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.send .send-form .input-field #file-input {
  display: none;
}

.follow {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  gap: 20px;
}
@media (max-width: 768px) {
  .follow {
    padding: 10px 0px;
  }
}
.follow .follow-container {
  display: flex;
  gap: 40px;
  padding: 0px 10px;
}
@media (max-width: 425px) {
  .follow .follow-container {
    gap: 10px;
  }
}
.follow .follow-container .follow-tile {
  display: flex;
  gap: 16px;
}
@media (max-width: 425px) {
  .follow .follow-container .follow-tile {
    gap: 4px;
  }
}
.follow .follow-container .follow-tile img {
  height: 3vw;
  min-height: 40px;
}
.follow .follow-container .follow-tile .follow-text-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.footer {
  width: 100%;
  padding: 20px 0px;
  background: #1e22aa url("../assets/bg/footer.png") repeat top center;
  background-size: contain;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 525px) {
  .footer {
    display: none;
  }
}

.footer-content {
  width: 95%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.footer-content .top-block {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer-content .top-block {
    flex-direction: column;
    text-align: center;
  }
}
.footer-content .top-block .left-content {
  width: 100%;
  min-width: 220px;
  max-width: 440px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer-content .top-block .left-content {
    max-width: 100%;
    align-items: center;
  }
  .footer-content .top-block .left-content .sub-email-container {
    width: 75%;
  }
}
.footer-content .top-block .left-content .sub-email-container {
  position: relative;
  display: flex;
  justify-content: end;
  margin: 10px 0px;
}
.footer-content .top-block .left-content .sub-email-container #sub-email {
  width: 100%;
  height: 44px;
  padding: 6px 0px 6px 12px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 22px;
  border: 0px;
  outline: 0px;
}
.footer-content .top-block .left-content #abenson-rewards-banner {
  width: 100%;
  margin: 15px 0px;
}
@media (max-width: 768px) {
  .footer-content .top-block .left-content #abenson-rewards-banner {
    width: 75%;
  }
}
.footer-content .top-block .middle-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0px 20px;
}
@media (max-width: 768px) {
  .footer-content .top-block .middle-content {
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
  }
}
.footer-content .top-block .middle-content .row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer-content .top-block .middle-content .row {
    width: 50%;
    justify-content: space-around;
  }
}
.footer-content .top-block .middle-content .row .item-group {
  width: 150px;
}
@media (max-width: 1024px) {
  .footer-content .top-block .middle-content .row .item-group {
    width: 140px;
  }
}
.footer-content .top-block .middle-content .row .item-group #payment-methods-img {
  width: 85%;
}
@media (max-width: 768px) {
  .footer-content .top-block .right-content {
    margin-top: 50px;
  }
  .footer-content .top-block .right-content .socials-desktop {
    display: none;
  }
}
.footer-content .top-block .right-content .social-container {
  display: flex;
  gap: 32px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .footer-content .top-block .right-content .social-container {
    gap: 22px;
  }
}
@media (max-width: 768px) {
  .footer-content .top-block .right-content .social-container {
    justify-content: center;
  }
}
.footer-content .top-block .right-content .social-container .social-item {
  transition: 0.2s ease-in-out;
}
.footer-content .top-block .right-content .social-container .social-item:hover {
  cursor: pointer;
  transform: translateY(-4px);
}
.footer-content .top-block .right-content .connect-group {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.footer-content .top-block .right-content .connect-group .connect-item {
  padding: 16px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content .top-block .right-content .connect-group .connect-item .contact-container {
  display: flex;
  gap: 12px;
  margin: 10px 0px;
}
.footer-content .bottom-block-desktop {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  gap: 42px;
  text-align: center;
}
@media (max-width: 768px) {
  .footer-content .bottom-block-desktop {
    display: none;
  }
}
.footer-content .bottom-block-desktop div {
  display: flex;
  justify-content: space-between;
  gap: 42px;
}
.footer-content .bottom-block-mobile {
  display: none;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 768px) {
  .footer-content .bottom-block-mobile {
    display: flex;
  }
}
.footer-content .bottom-block-mobile .top {
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  flex-wrap: wrap;
}
.footer-content .bottom-block-mobile .top div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-content .bottom-block-mobile .top .group-link {
  width: auto;
}
.footer-content .bottom-block-mobile .top .social-item {
  transition: 0.2s ease-in-out;
}
.footer-content .bottom-block-mobile .top .social-item:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

/*# sourceMappingURL=styles.css.map */
