$primary: #1e22aa;
$primary-light: #185baa;
$primary-dark: #151877;
$light-blue: #e5f6ff;

$white: #ffffff;
$light: #f1f2f6;
$light-dark: #e3e3e3;

$text: #4c525c;
$text-light: #575757;

$faded: rgba(255, 255, 255, 0.2);
