#uxui {
  .team-card-front {
    background-color: #735ff2;
  }

  .team-card-back {
    background-color: #5c4dbd;
  }
}

#mobile-app {
  .team-card-front {
    background-color: #19b6eb;
  }

  .team-card-back {
    background-color: #1798c4;
  }
}

#digital-marketing {
  .team-card-front {
    background-color: #ff177a;
  }

  .team-card-back {
    background-color: #d01665;
  }
}

#digital-development {
  .team-card-front {
    background-color: #006de2;
  }

  .team-card-back {
    background-color: #0457b1;
  }
}

#smile-serve {
  .team-card-front {
    background-color: #ffb400;
  }

  .team-card-back {
    background-color: #d29605;
  }
}

#systems-development {
  .team-card-front {
    background-color: #5dca3d;
  }

  .team-card-back {
    background-color: #5aae41;
  }
}

#shop-online {
  .team-card-front {
    background-color: #fae100;
  }

  .team-card-back {
    background-color: #d4c008;
  }
}

#digital-products {
  .team-card-front {
    background-color: #5dca3d;
  }

  .team-card-back {
    background-color: #46992e;
  }
}

#data {
  .team-card-front {
    background-color: #735ff2;
  }

  .team-card-back {
    background-color: #6452d2;
  }
}
