@use "../utils/colors";

// Breakpoints
// 1280px
// 1024px
// 768px
// 425px
// 375px

@mixin no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: colors.$text;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: clamp(24px, 5vw, 50px); // Min: 24px, Max: 50px
}

h2 {
  font-size: clamp(18px, 4vw, 28px); // Min: 18px, Max: 28px
}

h3 {
  font-size: clamp(16px, 3.5vw, 24px); // Min: 16px, Max: 24px
}

h4 {
  font-size: clamp(14px, 3vw, 20px); // Min: 14px, Max: 20px
}

h5 {
  font-size: clamp(11px, 2.5vw, 16px); // Min: 11px, Max: 16px
}

h6 {
  font-size: 11px;
}

p {
  font-size: 12px;
}

label {
  font-size: 11px;
  font-weight: 600;
}

button {
  cursor: pointer;
  text-wrap: nowrap;
  outline: none;
}

input {
  color: colors.$text;
}
