@use "../utils/global";
@use "../utils/colors";
@use "../utils/keyframes";

.banner-title {
}

.banner-description {
  max-width: 600px;
  font-weight: 400;
  margin-bottom: 20px;
}

.section-title {
  font-weight: 600;
  text-align: center;
}

.section-description {
  font-weight: 400;
  max-width: 800px;
}

.mvc-title {
  font-size: 28px;
  font-weight: 600;
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  z-index: 1;

  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 425px) {
    font-size: 14px;
  }
}

.mvc-description {
  font-size: 24px;
  font-weight: 600;
  color: colors.$light;
  color: #fff;

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 425px) {
    font-size: 12px;
  }
}

.join-description {
  font-weight: 400;
}

.team-card-title {
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 425px) {
    font-size: 13px;
  }
}

.team-card-description {
  font-weight: 400;
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 15px;
  }

  @media (max-width: 425px) {
    font-size: 10px;
  }
}

.job-title {
  font-size: clamp(12px, 4vw, 17px);
  color: colors.$primary;
  text-align: left;
}

.job-description {
  font-size: clamp(10px, 4vw, 16px);
  font-weight: 400;
}

#file-name {
  font-size: 13px;
  font-weight: 400;
}

.follow-text {
  font-weight: 400;
  text-align: left;
}

.sub-title {
  color: colors.$white;
}

.sub-description {
  color: colors.$white;
  font-weight: 400;
}

.group-title {
  color: colors.$secondary;
  margin-bottom: 15px;
}

.group-text {
  color: colors.$white;
  font-weight: 400;
  line-height: 22px;
}

.group-link {
  @extend .group-text;
  text-wrap: nowrap;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
