@use "../utils/global";
@use "../utils/colors";
@use "../utils/keyframes";

.section-title {
  font-weight: 600;
  text-align: center;
}

.section-description {
  max-width: 800px;
  font-weight: 400;
}

// Banner
.banner-title {
  font-weight: 600;
}
.banner-description {
  max-width: 600px;
  margin-bottom: 20px;
  font-weight: 400;
}

// About
.mvc-title {
  font-size: 28px;
  font-weight: 600;
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  z-index: 1;

  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 425px) {
    font-size: 14px;
  }
}

.mvc-description {
  font-size: 24px;
  font-weight: 600;
  color: colors.$white;

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 425px) {
    font-size: 12px;
  }
}

// Team
.team-card-title {
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 425px) {
    font-size: 13px;
  }
}

.team-card-description {
  font-size: 18px;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 15px;
  }

  @media (max-width: 425px) {
    font-size: 10px;
  }
}

// Jobs
.job-title {
  font-size: clamp(12px, 4vw, 17px);
  color: colors.$primary;
  text-align: left;
}

.job-description {
  font-size: clamp(10px, 4vw, 16px);
  font-weight: 400;
}

// Send
#file-name {
  font-size: 13px;
  font-weight: 400;
}

.error-text {
  color: colors.$red;
  position: absolute;
  z-index: 2;
  bottom: -16px;
  left: 15px;
  font-weight: 400;
}

// Follow
.follow-text {
  text-align: left;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  color: colors.$text;
  font-weight: 400;
  text-wrap: wrap;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 18px;
  }
}

// Footer
.sub-title {
  color: colors.$white;
}

.sub-description {
  color: colors.$white;
}

.group-title {
  color: colors.$secondary;
  margin-bottom: 15px;
}

.group-text {
  color: colors.$white;
  line-height: 22px;
}

.group-link {
  @extend .group-text;
  text-wrap: nowrap;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
